body {
  background: #f8f8f8;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.recurso-page {
  padding: 25px;
  font-family: Arial, sans-serif;
  background: #ffffff;
  border-radius: 7px;
}

/* AÇÕES */

.top-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 15px;
}

.top-actions button {
  padding: 8px 14px;
  border-radius: 6px;
  border: 1px solid #2563eb;
  background: white;
  color: #2563eb;
  cursor: pointer;
}

.top-actions .primary {
  background: #2563eb;
  color: white;
}

/* ABAS */

.tabs {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  font-size: 15px;
}

.tabs span {
  cursor: pointer;
  padding-bottom: 6px;
}

.tabs .active {
  border-bottom: 2px solid #2563eb;
  color: #2563eb;
  font-weight: bold;
}

/* TÍTULOS */

h3 {
  margin-top: 25px;
  border-bottom: 1px solid #d1d5db;
  padding-bottom: 6px;
  color: #374151;
}

/* GRID INFO */

.info-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  margin-top: 15px;
}

.info-grid label {
  font-size: 13px;
  color: #6b7280;
}

.info-grid p {
  font-weight: bold;
  margin-top: 4px;
}

/* FORM */

.form-section {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-section label {
  font-size: 14px;
  color: #374151;
}

textarea {
  width: 100%;
  min-height: 70px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
  resize: vertical;
}

.topbar {
  height: 60px;
  background: #e5e7eb;
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 20px;
  border-bottom: 1px solid #cbd5e1;
}

.logo {
  font-weight: bold;
  color: #1d4ed8;
}

.title {
  flex: 1;
  font-size: 18px;
  color: #374151;
}

.top-icons span {
  margin-left: 15px;
  cursor: pointer;
}
