.bloco-dados {
  margin-bottom: 30px;
  border: none;
}

.bloco-dados h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.table-dados {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  font-size: 14px;
}

.table-dados td {
  border: 1px solid #ddd;
  padding: 10px;
  vertical-align: top;
  border: none;
}

.table-dados strong {
  color: #444;
}
