.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 80px;
  height: 100%;
  background: #0f172a;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  width: 100%;
  padding: 15px 0;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid #1f2937;
  font-size: 12px;
}

.item span {
  display: block;
  margin-top: 5px;
}

.item:hover {
  background: #1f2937;
}

.active {
  background: #1d4ed8;
}
