.tabela-dados {
  width: 100%;
  margin-top: 25px;
}

/* GRID */

.tabela-dados .form-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-top: 15px;
}

/* CAMPOS */

.tabela-dados .field {
  display: flex;
  flex-direction: column;
}

.tabela-dados label {
  font-size: 14px;
  margin-bottom: 6px;
  color: #374151;
}

.tabela-dados input,
.tabela-dados select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
  background: white;
  color: #111827;
}

/* ANALISTA */

.tabela-dados .analista-row {
  margin-top: 20px;
  display: flex;
  height: 35px;
}

.tabela-dados .checks {
  display: flex;
}

.tabela-dados .check-item {
  display: flex;
  align-items: left;
  width: 40%;
  margin: 10px;
}

.tabela-dados .check {
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin: 10px;
}
