.topbar {
  height: 60px;
  background: #e5e7eb;
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 20px;
  border-bottom: 1px solid #cbd5e1;
}

.logo {
  font-weight: bold;
  color: #1d4ed8;
}

.title {
  flex: 1;
  font-size: 18px;
  color: #374151;
}

.top-icons span {
  margin-left: 15px;
  cursor: pointer;
}
